@import "tailwindcss";

.animate-marquee{
    animation: scrolling 10s linear infinite;
    animation-play-state: running;
}


@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
